---
interface Props {
  options: string[];
  initial?: string;
}

const { options, initial = options[0] } = Astro.props;

import "../../styles/dropdown.css"
---
<div class="dropdown" id="dropdown">
    <div class="dropdown-selected">{initial}</div>
    <div class="dropdown-options">
        {options.map((opt) => (
          <div class="dropdown-option">{opt}</div>
        ))}
    </div>
</div>

<script src="../../scripts/dropdown.ts"></script>
