---
interface Option {
    text: string;
    id: string;
}
interface Props {
  options: Option[];
  initial?: Option;
}

const { options, initial = options[0] } = Astro.props;

import "@styles/dropdown.css"
---
<div class="dropdown" id="dropdown">
    <div class="dropdown-selected" data-id={initial.id}>{initial.text}</div>
    <div class="dropdown-options">
        {options.map((opt) => (
        <div class="dropdown-option" data-id={opt.id}>{opt.text}</div>
        ))}
    </div>
</div>

<script src="@scripts/dropdown.ts"></script>
