---
export interface Props {
  unsetposition?: boolean;
}

const { unsetposition } = Astro.props;
const style = unsetposition === "true" ? "position: unset;" : "";

const locale = Astro.currentLocale;

import Logo from "@components/body/Logo.astro"
import AstroIcon from "@components/platforms/AstroIcon.astro";
import Deno from "@components/platforms/Deno.astro";
import Github from "@components/platforms/Github.astro";
import Linkedin from "@components/platforms/Linkedin.astro";

import "@styles/footer.css";
---

<footer class="row" {style}>
  <Logo isNavStr='false' {locale} />

	<ul class="row">
		<li>
      <AstroIcon />
		</li>
		<li>
      <Deno />
		</li>
		<li>
      <Github {locale}/>
		</li>
		<li>
      <Linkedin />
		</li>
	</ul>

</footer>
