---
import "../../styles/timeline.css";
---
<div id="timeline">
  <div id="timeline-line-wrapper">
    <div id="vertical-line-wrapper">
      <div id="vertical-line-outline" class="opposite-bg"></div>
      <div id="vertical-line" class="current-bg"></div>
    </div>
    <div id="point-on-line-wrapper">
      <div id="point-on-line-outline" class="opposite-bg"></div>
      <div id="point-on-line" class="current-bg"></div>
    </div>
  </div>

  <div id="timecard-holder">
    <slot />
  </div>
  <script>
    const holder = document.getElementById("timecard-holder");
    if(holder == null) {
      throw new Error("holder is null");
    }
    const cards: HTMLCollection = holder.children;
    //const cards = holder.querySelectorAll("[data-type=timecard]");
    const cardsArray = Array.from(cards);
    let index = 0;

    cardsArray
      .sort((a, b) => {
        const aDateBegin = a.getAttribute("data-datebegin");
        const bDateBegin = b.getAttribute("data-datebegin");
        if(aDateBegin == null || bDateBegin == null) {
          throw new Error("aDateBegin or bDateBegin is null");
        }
        const aParsedDate = Date.parse(aDateBegin);
        const bParsedDate = Date.parse(bDateBegin);
        return bParsedDate - aParsedDate;
      })
      .forEach(entry => {
        entry.style.flex = "1 0 auto";
        entry.style.order = index.toString()
        index++;
      });
  </script>
</div>

<div id="footer-spacer"></div>
