---

---
<div id="timecard-holder">
  <slot />
</div>
<style>
  #timecard-holder {
    position: absolute;
    border: 1px solid red;
    height: 100%;
    width: 80%;
    right: 0;
    /*
    display: flex;
    flex-direction: column;
    top: calc(-1 * var(--page-height));
    top: -74.5rem;
    justify-content: space-between;
     */
  }

  /*#timecard-holder > .timecard {
    flex: 1;
  }*/
</style>
<script>
  const holder = document.getElementById("timecard-holder");
  const children = holder.children;
  
  console.log(children)
  
  const cards = document.querySelectorAll(".timecard");
  console.log(cards)
  
  /*
.timecard[data-number="0"] {
  top: calc(var(--timeline-top) + 0rem);
  display: block;
}
.timecard[data-number="1"] {
  top: calc(var(--timeline-top) + 15rem);
  display: none;

}
.timecard[data-number="2"] {
  top: calc(var(--timeline-top) + 30rem);
  display: none;

}

based on the number of entries, space them out beside the timeline

   */
  const pageHeight = document.documentElement.style.getPropertyValue("--page-height");
  console.log({pageHeight})
  
  const pageHeightRem = pageHeight / 16;
  console.log({pageHeightRem})
  
  
  cards.forEach(entry => {
    const entryNumber = entry.getAttribute("data-number");
    if(entryNumber == null) {
      throw new Error("entryNumber is null");
    }
    const entryNumberInt = parseInt(entryNumber);
    const totCards = cards.length - 1;
    const cardHeight = pageHeightRem * entryNumberInt / totCards;
    console.log({entryNumberInt, totCards, cardHeight})
    
    //entry.style.top = `calc(var(--timeline-top) + ${pageHeightRem/4*entryNumberInt}rem)`;
    //entry.style.top = `calc(var(--timeline-top) + ${entryNumberInt * 15}rem)`;
    //entry.style.top = `calc(var(--timeline-top) + ${cardHeight}rem)`;
    entry.style.top = `${cardHeight}rem`;
  })
</script>
