#email-form {
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  width: 85%;
}

#email-form > h1 {
  margin: 0;
}

#email-form > form {
  display: flex;
  flex-direction: column;
}

#email-form > form > label {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

#email-form > form > input {
  height: 2rem;
}

#email-form > form > textarea {
  height: 7.5rem;
  max-height: 10rem;
}

.action-button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.action-button {
  border: 1 solid;
  box-sizing: border-box;
  background-color: var(--bg);
  background-image: none;
  color: var(--text);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  border-radius: 5rem;
  width: 20%;
  padding: 0.25rem;
  position: relative;
  overflow: hidden;
}

.action-button:hover {
  /*background-color: var(--opp-bg);
  color: var(--opp-text);
  transition: all 0.6s ease-in-out;*/
  --progress: 0;
}

.action-button:before {
  background-color: var(--opp-bg);
  content: "";
  inset: 0;
  position: absolute;
  transform: translateX(var(--progress, -100%));
  transition: transform 0.6s ease-in-out;
}

.action-button > span {
  /* this is crucial to have the text be visible */
  mix-blend-mode: difference;
}
