footer a {
  color: var(--text);
}

footer li {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  footer > div {
    align-self: flex-start;
    margin-top: 1.2rem;
  }

  footer > ul {
    align-self: flex-end;
  }
}

@media only screen and (max-width: 320px) {
  footer > div {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  footer > ul {
    align-self: center;
    padding-left: 0;
  }

}
