/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
html {
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
}
body {
	font-family: "Mona Sans", "Hubot Sans";
	margin: auto;
	padding: 20px;
	/*max-width: 65ch;*/
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}
a {
	color: currentColor;
  text-decoration: none;
}
nav a {
	margin-right: 10px;
}
.hidden {
  display: none;
}


textarea {
	width: 100%;
	font-size: 16px;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
}

