html {
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  height: 100dvh;
}

a {
  color: var(--link-text);
  transition: color 1000ms ease-in-out;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.invisible {
    opacity: 0 !important;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.rounded-circle {
  border-radius: 50%;
}

.notransition {
  transition: none !important;
}


footer {
  position: fixed;
  bottom: 0;
  z-index: 4;
  width: 100%;
}

/* general mobile */
@media only screen and (max-width: 768px) and (min-width: 320px) {
  footer {
    left: 0;
    bottom: calc(1.005 * var(--nav-height));
    width: 100%;
  }
}

/* iPhone SE 2023 */
@media only screen and (max-width: 320px) {
  footer {
    left: 0;
    bottom: calc(1.003 * var(--nav-height));
    background-color: var(--bg);
    height: calc(0.75 * var(--nav-height));
  }
}
