.navbar {
  height: 4rem;
  width: 100%;
  background: var(--bg-nav);
  position: sticky;
  top: 0;
  z-index: 3;
  color: var(--opp-text);
}

#navbar-brand{
  margin-left: 1rem;
}

#header-links li{
  margin-right: 1rem;
}

#collapseButton{
  display: none;
}

nav a {
	margin-right: 10px;
}
