.navbar {
  height: var(--nav-height);
  background: var(--bg-nav);
  position: sticky;
  z-index: 3;
}

#navbar-brand{
  margin-left: 1rem;
}

#navbar-brand img {
  height: calc(0.7*var(--nav-height));
  width: calc(0.7*var(--nav-height)); 
  margin-right: 0.5rem;
}

#theme-selection {
  cursor: pointer;
}

#theme-selection .tooltip .tooltiptext-bottom {
  left: 0%!important;
}
#theme-selection .tooltip .tooltiptext-bottom::after {
  left: 48%!important;
}

#header-links li {
  margin-right: 1rem;
}

#language-selection .tooltip .tooltiptext-bottom {
  left: -200%!important;
}

#language-selection .tooltip .tooltiptext-bottom::after {
  left: 90%!important;
}


#collapseButton{
  display: none;
}

.navbar a {
	margin-right: 10px;
  color: var(--black);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    left: 0svp; /* small view port, takes care of browser clutter */
    bottom: 0;
    width: 100%;
  }

  #collapseButton {
    display: block;
  }
  
  nav a {
    margin-right: 0px;
  }

  #navbar-brand {
    margin-left: 0.4rem;
  }

  #header-links li:first-child {
    display: none;
  }

  #language-selection > a {
    display: none;
  }
  
}



