---
export interface Props {
	favicon: string;
	title: string;
}

const { favicon, title } = Astro.props;
import Bootstrap from "./Bootstrap.astro";
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href={favicon} />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<Bootstrap />
