---
import BaseHead from '../components/head/BaseHead.astro';
import Navbar from '../components/body/Navbar.astro';
//import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Not found" description="Unable to find the page" />
	</head>
	<body>
		<Navbar lang="en" />
    <h1>404</h1>
	</body>
</html>
