---
import LayoutMain from '../layouts/Main.astro';

// check if the page is valid
/*const { lang } = Astro.params;

if(lang === undefined || typeof lang === 'number') {
        return Astro.redirect("/404");
}
import { LANGS } from "../config";
if(!LANGS.includes(lang)) {
        return Astro.redirect("/404");
}*/

const aboutme = "/aboutme";
---

<LayoutMain title="Welcome to Astro." lang="en">
  <h1>You're on the landing page.</h1>
  <a href={aboutme} class="btn">About Me</a>
</LayoutMain>
