---
export interface Props {
	path: string;
  alt: string;
  width: string;
  height: string;
}

const { path, alt } = Astro.props || "#";
const width = Astro.props.width || "1920px";
const height = Astro.props.height || "1080px";
//alt={alt} 
---
<div width={width} height={height}>
  <iframe src={path} width=100% allowfullscreen="true" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation"></iframe>
</div>

<style>
/*style="border: 0px none; display: block; margin: 0px; width: 700px; height: 394px;"*/
  iframe {
    border: 0px none;
    display: block;
    margin: 0px;
    aspect-ratio: 16/9;
    max-width: 50%;
  }
</style>

