---
import LayoutMain from '../../layouts/Main.astro';

// check if the page is valid
const { lang } = Astro.params;

if(lang === undefined || typeof lang === 'number') {
	return Astro.redirect("/404");
}
const { languages } = await import('./languages.json');
if(!languages.includes(lang)) {
	return Astro.redirect("/404");
}
---

<LayoutMain title="Welcome to Astro." lang={lang}>
  <h1>{lang}</h1>
</LayoutMain>
