---
import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps <{
  lang: string;
  title: string;
  description: string;
}>;

import "../styles/aboutme.css";

const { frontmatter } = Astro.props;
const { lang, title, description } = frontmatter;

import Main from "./Main.astro";
---

<Main title={title} description={description} lang={lang}>
  <slot />
</Main>
