---
import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps <{
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;

import Main from "./Main.astro";
import HackerText from "@components/body/HackerText.astro";
import "@styles/timeline.css"
---
<Main {...frontmatter} unset-footer-position=true>

  <HackerText>Alfredo Chissotti</HackerText>

  <div id="timeline">
    <div id="timeline-line-wrapper">
      <div id="vertical-line-wrapper">
        <div id="vertical-line-outline" class="opposite-bg"></div>
        <div id="vertical-line" class="current-bg"></div>
      </div>
      <div id="point-on-line-wrapper">
        <div id="point-on-line-outline" class="opposite-bg"></div>
        <div id="point-on-line" class="current-bg"></div>
      </div>
    </div>

    <div id="timecard-holder">
      <slot />
    </div>
  </div>

  <div id="footer-spacer"></div>
</Main>

<script src="@scripts/timeline.ts"></script>
<script src="@scripts/timecardSorter.ts"></script>
