---
import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps <{
  lang: string;
  title: string;
  description: string;
}>;

import "../styles/aboutme.css";

const { frontmatter } = Astro.props;

import Main from "./Main.astro";
---

<Main {...frontmatter}>
  <slot />


  <script>
    const timeline = document.getElementById("timeline");
    if(timeline == null) {
      throw new Error("timeline is null");
    }
    timeline.setAttribute("style", `--perc: 0%;`);

    // https://stackoverflow.com/a/73708272/15039921
    const scrollMaxValue = () => {
      const body = document.body;
      const html = document.documentElement;
      const documentHeight = Math.max(
        body.scrollHeight, body.offsetHeight,
        html.clientHeight, html.scrollHeight, html.offsetHeight
      );
      const windowHeight = window.innerHeight || html.clientHeight || body.clientHeight;
      return documentHeight - windowHeight;
    };
    const pageHeight = scrollMaxValue();//px
    document.documentElement.style.setProperty('--page-height', `${pageHeight}`);

    const cardHolder = document.getElementById("timecard-holder");
    if(cardHolder == null) {
      throw new Error("cardHolder is null");
    }
    const cards = cardHolder.children;
    const cardsArray = Array.from(cards);
    
    const cardsNumber = cards?.length || 0;
    const percPerCard = 100 / cardsNumber;

    //capture window-scroll and update the variable
    document.addEventListener("scroll", () => {
      const y = window.scrollY;
      const midperc = y / pageHeight * 100;
      const perc = midperc > 100 ? 100 : midperc;
      const percRem = perc / 16;

      timeline.setAttribute("style", `--perc: ${perc}%;`);
      console.log({perc, percRem, percPerCard, cards});

      cardsArray.forEach(card => {
        const cardNumber = card.style.order;
        if(cardNumber == null) {
          throw new Error("cardNumber is null");
        }
        const cardNumberInt = parseInt(cardNumber);
        console.log({cardNumberInt,first:perc >= percPerCard*cardNumberInt,second:perc < percPerCard*(cardNumberInt + 1)});
        
        if(perc >= percPerCard*cardNumberInt && perc < percPerCard*(cardNumberInt + 1)) {
          card.style.visibility = "visible";
          card.style.opacity = "1";
        } else {
          card.style.visibility = "hidden";
          card.style.opacity = "0";
        
        }
      })


      /*const activeEntry = document.querySelector(".entry[style='display: block;']");
      if(activeEntry == null) {
        throw new Error("activeEntry is null");
      }
      const activeEntryNumber = activeEntry.getAttribute("data-number");
      if(activeEntryNumber == null) {
        throw new Error("activeEntryNumber is null");
      }*/

      


      /*
      entries.forEach(entry => {
        const entryNumber = entry.getAttribute("data-number");
        if(entryNumber == null) {
          throw new Error("entryNumber is null");
        }
        const entryNumberInt = parseInt(entryNumber);
        if(perc >= 25*entryNumberInt && perc < 25*(entryNumberInt + 1)) {
          entry.style.display = "block";
        } else {
          entry.style.display = "none";
        }
      })
       */
    })
  </script>

</Main>
