---
import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps <{
  title: string;
  description: string;
}>;

import Main from "./Main.astro";
import "@styles/emailForm.css";
import { getCurrentLocale } from "@scripts/localeFinder.ts";

const { locale } = getCurrentLocale({url: Astro.url});
const english = locale === "en";

const { frontmatter } = Astro.props;
// I want to make a memory game where the user has to click 2 tiles and they'll stick if they correspond
// I also want to make an email form to have the user send feedback right away
---
<Main {...frontmatter}>
  <slot />
  <!-- email form -->
  <div id="email-form">
    <h1>{ english
      ? 'Send me an email!'
      : 'Mandami una mail!'
    }</h1>
    <form
      action="https://getform.io/f/c4878c69-1abf-4842-b160-b743a3aadcc8"
      method="POST"
    >

      <label for="name">{ english ? 'Name' : 'Nome' }</label>
      <input type="text" name="name" id="name" required/>

      <label for="subject">{ english ? 'Subject' : 'Oggetto' }</label>
      <input type="text" name="subject" id="subject" required/>

      <label for="recepient">Email</label>
      <input type="email" name="_replyto" id="recepient" required/>

      <label for="mail-message">{ english ? 'Message' : 'Messaggio' }</label>
      <textarea name="message" id="mail-message" cols="30" rows="10" required></textarea>

      <div class="action-button-wrapper">
        <button type="submit" class="action-button">
          <span>
            { english ? 'Send' : 'Invia' }
          </span>
        </button>
      </div>
    </form>
  </div>
</Main>
