---
import type { MarkdownLayoutProps } from 'astro';
import { parse } from 'node-html-parser';
import Main from "./Main.astro";
import Dropdown from "../components/body/Dropdown.astro"
import "../styles/landingpage.css";

type Props = MarkdownLayoutProps <{
  lang: string;
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;
//const english = frontmatter.lang === "en" || frontmatter.lang == null;

// Extract headings + generate ids
const idifyText = (text: string) =>
  text.toLowerCase().replace(/ /g, "-").replace("?", "");

const slot = await Astro.slots.render("default");
const root = parse(slot)!!;
const options = root.querySelectorAll("h2").map(h => {
    const text = h.text.trim();
    const id = idifyText(text);
    h.parentNode.setAttribute("data-dropdown-id", id); // add marker for toggle
    return { text, id };
});
---
<Main {...frontmatter}>
    <div id="select-heading-container">
        <Dropdown {options} />
    </div>

    <div id="select-heading" class="slot-content" set:html={root.toString()} />
</Main>

<script src="../scripts/typedText.ts"></script>
