---
import type { MarkdownLayoutProps } from 'astro';
import { parse } from 'node-html-parser';
import Main from "./Main.astro";
import Dropdown from "../components/body/Dropdown.astro"
import "../styles/landingpage.css";

type Props = MarkdownLayoutProps <{
  lang: string;
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;
//const english = frontmatter.lang === "en" || frontmatter.lang == null;

const slot = await Astro.slots.render("default");
const root = parse(slot);
const containers = root.querySelectorAll(".typed-text-container");
if(containers.length == 0) {
  throw new Error("No typed-text-container found");
}
const headings = root.querySelectorAll(".typed-text-container > .typed-text > h2");
if(headings.length == 0) {
  throw new Error("No heading found");
} else if(containers.length != headings.length) {
  console.error({containers,headings});
  throw new Error("Number of containers and headings do not match");
}

//Create an option for each heading
const options: string[] = Array.from(headings).map(h => h.textContent);

---
<Main {...frontmatter}>
    <div id="select-heading-container">
        <Dropdown {options}/>
    </div>

    <slot />
</Main>

<script src="../scripts/typedText.ts"></script>
