---
export interface Props {
	title: string;
	description: string;
	lang: string;
}

import Head from "../components/head/Head.astro";
import Navbar from "../components/body/Navbar.astro";
import Footer from "../components/body/Footer.astro";
import { WEBSITE_NAME } from "../config";


const { title, description, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} class="notransition">
  <head>
    <Head title={title != WEBSITE_NAME ? title + " | " + WEBSITE_NAME : title} description={description}></Head>
  </head>
  <body>
    <Navbar lang={lang}/>
		<slot />
    <Footer lang={lang}/>
  </body>
  <script>
    const html = document.documentElement;
    // remove no-transition class on load from html tag
    setTimeout(() => {
      html.classList.remove("notransition");
    }, 100);
  </script>
  <!--<script src="../scripts/inferLanguage.ts"></script>-->
</html>
