---
export interface Props {
	title: string;
	description: string;
    "unset-footer-position"?: boolean;
}

import Head from "@components/head/Head.astro";
import Navbar from "@components/body/Navbar.astro";
import Footer from "@components/body/Footer.astro";
import { WEBSITE_NAME, SUPPORTED_LOCALES, DEFAULT_LOCALE } from "@config";

const { title, description, "unset-footer-position": unsetposition } = Astro.props;

const locale = Astro.currentLocale;
const localesToExpose = {
  supported: SUPPORTED_LOCALES,
  default: DEFAULT_LOCALE
};
---

<!DOCTYPE html>
<html lang={locale} class="notransition">
  <head>
    <Head title={title != WEBSITE_NAME ? title + " | " + WEBSITE_NAME : title} description={description}></Head>
  <script type="module" define:vars={{localesToExpose}}>
      window.__ASTRO_LOCALES = localesToExpose;
    </script>
  </head>
  <body>
    <Navbar/>
		<slot />
    <Footer {unsetposition} />
  </body>
  <script>
    const html = document.documentElement;
    // remove no-transition class on load from html tag
    setTimeout(() => {
      html.classList.remove("notransition");
    }, 100);
  </script>
  <script src="@scripts/inferLanguage.ts"></script>
</html>
